In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data.xlsx')

In [3]:
cols = df.columns

In [4]:
df

,city,restaurant_name,url,area,cuisine,cost_for_two,offer,rating,images,page,meal_type
0,delhi-ncr,Shang Palace,https://www.eazydiner.com/delhi-ncr/shang-pala...,Shangri-La Eros New Delhi,Chinese,₹ 3000 for two approx.,30% Off + 25% Off,4.5,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
1,delhi-ncr,Fifty9,https://www.eazydiner.com/delhi-ncr/fifty9-rad...,"Radisson Blu Marina, New Delhi",Multicuisine,₹ 2500 for two approx.,35% Off + 25% Off,4.4,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
2,delhi-ncr,Sakura,https://www.eazydiner.com/delhi-ncr/sakura-the...,"The Metropolitan Hotel & Spa, New Delhi","Japanese, Sushi",₹ 4500 for two approx.,25% Off + 25% Off,4.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
3,delhi-ncr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,breakfast
4,delhi-ncr,"Chutney, Bar + Tandoor",https://www.eazydiner.com/delhi-ncr/chutney-ba...,"The Metropolitan Hotel & Spa, New Delhi",Indian,₹ 3000 for two approx.,25% Off + 25% Off,3.5,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
...,...,...,...,...,...,...,...,...,...,...,...
29368,chandigarh-tricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,lunch
29369,chandigarh-tricity,Chai chemistry,https://www.eazydiner.com/chandigarh/chai-chem...,"Dhakoli, Zirakpur",Multicuisine,₹ 400 for two approx.,Extra 200 EazyPoints,4.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,63,lunch
29370,chandigarh-tricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,lunch
29371,chandigarh-tricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,lunch
29372,chandigarh-tricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,lunch

In [5]:
df.dropna(subset=cols, inplace=True)

In [6]:
df

,city,restaurant_name,url,area,cuisine,cost_for_two,offer,rating,images,page,meal_type
0,delhi-ncr,Shang Palace,https://www.eazydiner.com/delhi-ncr/shang-pala...,Shangri-La Eros New Delhi,Chinese,₹ 3000 for two approx.,30% Off + 25% Off,4.5,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
1,delhi-ncr,Fifty9,https://www.eazydiner.com/delhi-ncr/fifty9-rad...,"Radisson Blu Marina, New Delhi",Multicuisine,₹ 2500 for two approx.,35% Off + 25% Off,4.4,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
2,delhi-ncr,Sakura,https://www.eazydiner.com/delhi-ncr/sakura-the...,"The Metropolitan Hotel & Spa, New Delhi","Japanese, Sushi",₹ 4500 for two approx.,25% Off + 25% Off,4.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
4,delhi-ncr,"Chutney, Bar + Tandoor",https://www.eazydiner.com/delhi-ncr/chutney-ba...,"The Metropolitan Hotel & Spa, New Delhi",Indian,₹ 3000 for two approx.,25% Off + 25% Off,3.5,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
5,delhi-ncr,Desi Villagio,https://www.eazydiner.com/delhi-ncr/desi-villa...,"Connaught Place (CP), Central Delhi",Indian,₹ 1300 for two approx.,40% Off + 25% Off,4.1,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,1,breakfast
...,...,...,...,...,...,...,...,...,...,...,...
29364,chandigarh-tricity,Hangry,https://www.eazydiner.com/chandigarh/hangry-vi...,"VIP Road, Zirakpur",Fast Food,₹ 400 for two approx.,20% Off,4.3,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,62,lunch
29365,chandigarh-tricity,The Shooter's Cafe,https://www.eazydiner.com/mohali/the-shooters-...,"Sector 70, Mohali",Multicuisine,₹ 550 for two approx.,15% Off,3.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,63,lunch
29366,chandigarh-tricity,Dominic Pizza,https://www.eazydiner.com/panchkula/dominic-pi...,Panchkula,Pizza,₹ 500 for two approx.,Extra 200 EazyPoints,4.9,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,63,lunch
29367,chandigarh-tricity,Pizza Singh,https://www.eazydiner.com/mohali/pizza-singh-k...,"Kharar Road, Mohali","Fast Food, Pizza",₹ 500 for two approx.,Extra 200 EazyPoints,4.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,63,lunch
29369,chandigarh-tricity,Chai chemistry,https://www.eazydiner.com/chandigarh/chai-chem...,"Dhakoli, Zirakpur",Multicuisine,₹ 400 for two approx.,Extra 200 EazyPoints,4.0,https://dt4l9bx31tioh.cloudfront.net/eazymedia...,63,lunch

In [10]:
restaurants = (
    df[['restaurant_name', 'url', 'city', 'area', 'cost_for_two', 'rating', 'page']]
    .drop_duplicates()
    .reset_index(drop=True)
)

restaurants['restaurant_id'] = restaurants.index + 1

restaurants = restaurants[
    ['restaurant_id', 'restaurant_name', 'url', 'city', 'area',
     'cost_for_two', 'rating', 'page']
]

restaurants['cost_for_two'] = (
    restaurants['cost_for_two']
    .str.extract(r'(\d+)', expand=False)
    .astype('Int64')
)

In [11]:
restaurants

,restaurant_id,restaurant_name,url,city,area,cost_for_two,rating,page
0,1,Shang Palace,https://www.eazydiner.com/delhi-ncr/shang-pala...,delhi-ncr,Shangri-La Eros New Delhi,3000,4.5,1
1,2,Fifty9,https://www.eazydiner.com/delhi-ncr/fifty9-rad...,delhi-ncr,"Radisson Blu Marina, New Delhi",2500,4.4,1
2,3,Sakura,https://www.eazydiner.com/delhi-ncr/sakura-the...,delhi-ncr,"The Metropolitan Hotel & Spa, New Delhi",4500,4.0,1
3,4,"Chutney, Bar + Tandoor",https://www.eazydiner.com/delhi-ncr/chutney-ba...,delhi-ncr,"The Metropolitan Hotel & Spa, New Delhi",3000,3.5,1
4,5,Desi Villagio,https://www.eazydiner.com/delhi-ncr/desi-villa...,delhi-ncr,"Connaught Place (CP), Central Delhi",1300,4.1,1
...,...,...,...,...,...,...,...,...
13445,13446,Crown,https://www.eazydiner.com/chandigarh-tricity/c...,chandigarh-tricity,"Hotel Crown, Chandigarh",1100,4.0,61
13446,13447,CHEF & COFFEE,https://www.eazydiner.com/chandigarh-tricity/c...,chandigarh-tricity,"Kharar, Mohali",800,4.0,61
13447,13448,Katani Dhaba Sweets and Snacks,https://www.eazydiner.com/chandigarh-tricity/k...,chandigarh-tricity,"Kharar Road, Mohali",600,4.0,61
13448,13449,Kitchen Garden,https://www.eazydiner.com/chandigarh-tricity/k...,chandigarh-tricity,"Dera Bassi. Zirakpur, Chandigarh",600,4.0,62
13449,13450,Yum Canal Rooftop,https://www.eazydiner.com/chandigarh-tricity/y...,chandigarh-tricity,New Chandigarh,1800,4.0,62

In [ ]:
meal_types = (
    df['meal_type']
    .dropna()
    .str.lower()
    .str.split(',')
    .explode()
    .str.strip()
    .drop_duplicates()
    .reset_index(drop=True)
    .to_frame(name='meal_type')
)

meal_types['meal_type_id'] = meal_types.index + 1
meal_types = meal_types[['meal_type_id', 'meal_type']]

In [ ]:
meal_types

   meal_type_id  meal_type
0             1  breakfast
1             2     dinner
2             3      lunch

In [ ]:
restaurant_meal_types = (
    df[['restaurant_name', 'url', 'meal_type']]
    .dropna(subset=['meal_type'])
    .assign(meal_type=lambda x: x['meal_type']
            .str.lower().str.split(','))
    .explode('meal_type')
)

restaurant_meal_types['meal_type'] = restaurant_meal_types['meal_type'].str.strip()

restaurant_meal_types = restaurant_meal_types.merge(
    restaurants[['restaurant_id', 'restaurant_name', 'url']],
    on=['restaurant_name', 'url']
)

restaurant_meal_types = restaurant_meal_types.merge(
    meal_types,
    on='meal_type'
)

restaurant_meal_types = restaurant_meal_types[
    ['restaurant_id', 'meal_type_id']
].drop_duplicates()

In [ ]:
restaurant_meal_types

       restaurant_id  meal_type_id
0                  1             1
1                  2             1
2                  3             1
3                  4             1
4                  5             1
...              ...           ...
39363          13438             3
39364          12887             3
39365          13439             3
39366          12888             3
39367          13440             3

[39181 rows x 2 columns]

In [ ]:
cuisines = (
    df['cuisine']
    .dropna()
    .str.lower()
    .str.split(',')
    .explode()
    .str.strip()
    .drop_duplicates()
    .reset_index(drop=True)
    .to_frame(name='cuisine')
)

cuisines['cuisine_id'] = cuisines.index + 1
cuisines = cuisines[['cuisine_id', 'cuisine']]

In [ ]:
restaurant_cuisines = (
    df[['restaurant_name', 'url', 'cuisine']]
    .dropna(subset=['cuisine'])
    .assign(cuisine=lambda x: x['cuisine']
            .str.lower().str.split(','))
    .explode('cuisine')
)

restaurant_cuisines['cuisine'] = restaurant_cuisines['cuisine'].str.strip()

restaurant_cuisines = restaurant_cuisines.merge(
    restaurants[['restaurant_id', 'restaurant_name', 'url']],
    on=['restaurant_name', 'url']
)

restaurant_cuisines = restaurant_cuisines.merge(
    cuisines,
    on='cuisine'
)

restaurant_cuisines = restaurant_cuisines[
    ['restaurant_id', 'cuisine_id']
].drop_duplicates()

In [ ]:
restaurant_cuisines

       restaurant_id  cuisine_id
0                  1           1
1                  2           2
2                  3           3
3                  3           4
4                  4           5
...              ...         ...
48076          13334          13
48213          13384          12
48267          13405           2
48274          13409          18
48275          13410          18

[16987 rows x 2 columns]

In [15]:
restaurants = (
    df[['restaurant_name', 'url', 'city', 'area', 'cost_for_two', 'rating', 'page','offer']]
    .drop_duplicates()
    .reset_index(drop=True)
)

restaurants['restaurant_id'] = restaurants.index + 1

restaurants = restaurants[
    ['restaurant_id', 'restaurant_name', 'url', 'city', 'area',
     'cost_for_two', 'rating', 'page','offer']
]

restaurants['cost_for_two'] = (
    restaurants['cost_for_two']
    .str.extract(r'(\d+)', expand=False)
    .astype('Int64')
)

In [17]:
restaurants['offer'].unique()

array(['30% Off + 25% Off', '35% Off + 25% Off', '25% Off + 25% Off',
       '40% Off + 25% Off', '45% Off + 25% Off', '50% Off + 25% Off',
       '20% Off + 25% Off', '15% Off + 25% Off', '10% Off + 25% Off',
       '25% Off :Payeazy', 'Free Beverages + 25% Off',
       'Free Drinks + 25% Off', '1+1 + 25% Off', 'Cover Charge + 25% Off',
       'Free Dessert + 25% Off', 'Free Appetizer + 25% Off',
       'Extra 200 EazyPoints + 25% Off', 'Freedelights + 25% Off',
       'Special Combo + 25% Off', '10% Off', '25% Off', 'Free Dessert',
       'Free Beverages', '30% Off', '15% Off', 'Extra 200 EazyPoints',
       '20% Off', 'Free Appetizer', '1+1 Buffet + 25% Off',
       '55% Off + 25% Off', '₹200 Off + 25% Off'], dtype=object)

In [18]:
restaurants['percentages'] = df['offer'].str.findall(r'(\d+)\s*%').apply(
    lambda x: [int(p)/100 for p in x]
)

In [21]:
import math

def effective_discount(x):
    # No discount
    if x is None or (isinstance(x, float) and math.isnan(x)):
        return 0.0

    # Single percentage stored as float
    if isinstance(x, (int, float)):
        return float(x)

    # Proper list of percentages
    remaining = 1.0
    for d in x:
        remaining *= (1 - d)
    return round(1 - remaining, 4)

In [22]:
restaurants['effective_discount'] = restaurants['percentages'].apply(effective_discount)

In [23]:
restaurants['percentages'].apply(type).value_counts()

percentages
<class 'list'>     9296
<class 'float'>    4179
Name: count, dtype: int64

In [25]:
import re

In [29]:
restaurants['free'] = restaurants['offer'].str.contains(
    r'\bfree\b|1\s*\+\s*1',
    flags=re.IGNORECASE,
    regex=True
)

In [31]:
restaurants[['offer', 'percentages', 'effective_discount', 'free']]
restaurants.loc[restaurants['free']==True]

,restaurant_id,restaurant_name,url,city,area,cost_for_two,rating,page,offer,percentages,effective_discount,free
86,87,Pure Shudh,https://www.eazydiner.com/delhi-ncr/pure-shudh...,delhi-ncr,"Karol Bagh, Central Delhi",500,4.0,10,Free Beverages + 25% Off,NaN,0.0000,True
159,160,PO,https://www.eazydiner.com/delhi-ncr/po-connaug...,delhi-ncr,"Connaught Place (CP), Central Delhi",1200,3.7,18,Free Drinks + 25% Off,NaN,0.0000,True
228,229,Nomad Experience,https://www.eazydiner.com/delhi-ncr/nomad-expe...,delhi-ncr,"Greater Kailash (GK) 2, South Delhi",800,3.9,26,1+1 + 25% Off,NaN,0.0000,True
257,258,Maison Maiya,https://www.eazydiner.com/delhi-ncr/maison-mai...,delhi-ncr,"Grand Hyatt, Gurgaon",3500,4.4,29,1+1 + 25% Off,"[0.25, 0.25]",0.4375,True
749,750,Plats,https://www.eazydiner.com/delhi-ncr/plats-malv...,delhi-ncr,"Malviya Nagar, South Delhi",2200,4.6,84,Free Dessert + 25% Off,NaN,0.0000,True
...,...,...,...,...,...,...,...,...,...,...,...,...
13315,13316,Aasma Revolving Restaurant,https://www.eazydiner.com/panchkula/aasma-sect...,chandigarh-tricity,"Inox Nh 22 Mall, Panchkula",1500,4.3,48,Free Appetizer + 25% Off,[0.25],0.2500,True
13398,13399,Cafe Flora Bella,https://www.eazydiner.com/mohali/cafe-flora-be...,chandigarh-tricity,"Sahibzada Ajit Singh Nagar, Mohali",1350,4.0,57,Free Dessert + 25% Off,"[0.1, 0.25]",0.3250,True
13399,13400,THE PACIFIC FOODS CAFE N RESTO,https://www.eazydiner.com/zirakpur/the-pacific...,chandigarh-tricity,"Patiala Road, Zirakpur",1300,4.0,58,Free Drinks + 25% Off,"[0.1, 0.25]",0.3250,True
13419,13420,Hotel Midtown Grand,https://www.eazydiner.com/zirakpur/hotel-midto...,chandigarh-tricity,"Peer Muchalla Rd., Zirakpur",1200,5.0,60,Free Beverages + 25% Off,"[0.3, 0.25]",0.4750,True
13437,13438,Hotel Affluence,https://www.eazydiner.com/mohali/hotel-affluen...,chandigarh-tricity,"CITY HEART, Kharar, Mohali",1000,4.0,62,Free Beverages + 25% Off,"[0.2, 0.25]",0.4000,True

In [33]:
restaurants.to_excel('restaurants.xlsx', index=False)

In [ ]:
restaurants.to_excel('restaurants.xlsx', index=False)
meal_types.to_excel('meal_types.xlsx', index=False)
restaurant_meal_types.to_excel('restaurant_meal_types.xlsx', index=False)
cuisines.to_excel('cuisines.xlsx', index=False)
restaurant_cuisines.to_excel('restaurant_cuisines.xlsx', index=False)